/* Write your CSS here */
.main-course-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.course-title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 0px;
}

.course-title {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 600;
  color: #1e293b;
  text-align: left;
}

.duration-container {
  display: flex;
  align-items: center;
  align-self: flex-end;
}

.duration {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 700;
  color: #1e293b;
  margin-left: 8px;
}

.description {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  color: #1e293b;
  margin-top: 0px;
}

.items-container {
  list-style-type: none;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: bold;
  color: #1e293b;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #d3cfcf;
  margin: 4px;
  border-radius: 5px;
}

.list-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
